<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Linn | Wedding</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="css/theme.css" rel="stylesheet">
  <link href="css/site.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">

</head>

<body class="home">
  <div class="container">
    <div class="row">
	  <% include navigation.ejs %>
        <div class="main span9">

