<header class="span3">
    <div class="affix">
      <div class="navbar span3">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <i class="icon-reorder"></i>
        </a>
        <a class="brand span2" href="/">
            <p class="linn-wedding">Linn Wedding</p>
        </a>
        <nav class="nav-collapse collapse">
            <ul class="nav">
              <li class="nav-home"><a href="/">Home</a></li>
              <li class="nav-story"><a href="/story">Our Story</a></li>
              <li class="nav-events"><a href="/events">Wedding Events</a></li>
              <li class="nav-accomodations"><a href="/accomodations">Accomodations</a></li>
              <li class="nav-gallery"><a href="/gallery">Photo Gallery</a></li>
              <li class="nav-rsvp"><a href="/rsvp">RSVP</a></li>
              <!-- <li class="dropdown nav-portfolio">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Portfolio
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li class="nav-portfolio-1"><a href="/portfolio1">2 columns</a></li>
                  <li class="nav-portfolio-2"><a href="/portfolio2">3 columns</a></li>
              </ul>
          </li> -->
      </ul>
  </nav>
</div><!-- /navbar-inner -->
</div><!-- /navbar -->
<aside class="span3 text-center hidden-phone">
    <ul class="social inline">
      <li><a class="btn btn-small" href="#"><i class="icon-facebook"></i></a></li>
      <li><a class="btn btn-small" href="#"><i class="icon-twitter"></i></a></li>
      <li><a class="btn btn-small" href="#"><i class="icon-instagram"></i></a></li>
  </ul>
  <p class="social-hashtag">#LinnWedding</a></p>
</aside>
</div><!-- /affix -->
</header>