<% include layouts/header.ejs %>

<h1 class="section-title">Accomodations</h1>
<div class="span6">
	<div class="row">
		<div class="box box-shadow box-shadow-auto addTop">
			<div class="box-content">
				<p>
					<center><p><b>Courtyard Mariott - Indianapolis Carmel</b><br/>
					10290 N Meridian Street<br/>
					Indianapolis, IN 46920<br/></p></center>
					<br>
					<b>Book here by 9/25/15 for a discounted rate</b><br>
					Using the following link: 
					<a target="_blank" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Nesius/Linn%20Wedding%20Room%20Block%5EINDCM%60nlwnlwa%7Cnlwnlwb%7Cnlwnlwd%6099.00-149.00%60USD%60false%6010/16/15%6010/18/15%609/25/15&app=resvlink&stop_mobi=yes" style="text-decoration:underline;">Group Rate Nesius/Linn Block</a>
					<br>
					<br>
					<center>- or -</center>
					<br>
					Call 800.321.2211 and reference the Nesius/Linn Wedding block.
					<br>
					<br>
					The Courtyard Marriott also provides shuttling to the event prior to the wedding, and back to the hotel after the reception.
					<br/>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="span3">
	<div class="row">
		<div class="box box-shadow addTop">
			<div class="box-content">
				<p>
					<center><a href=""><b>SpringHill Suites</b><br/>
					11855 N Meridian Street<br/>
					Carmel, IN 46032<br/>
					(317)846-1800</a></center>
					<br/>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="span3">
	<div class="row event-block-space">
		<div class="box box-shadow addTop">
			<div class="box-content">
				<p>
					<center><a href=""><b>Renaissance North Hotel</b><br/>
					11925 N Meridian Street<br/>
					Carmel, IN 46032<br/>
					(317)816-0777</a></center>
					<br/>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="span3">
	<div class="row">
		<div class="box box-shadow addTop">
			<div class="box-content">
				<p>
					<center><a href=""><b>Hampton Inn</b><br/>
					12197 N Meridian Street<br/>
					Carmel, IN 46032<br/>
					(317)843-1100</a></center>
					<br/>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="span3">
	<div class="row event-block-space">
		<div class="box box-shadow addTop">
			<div class="box-content">
				<p>
					<center><a href=""><b>Staybridge Suites</b><br/>
					10675 N Pennsylvania Street<br/>
					Carmel, IN 46032<br/>
					(317)582-1500</a></center>
					<br/>
				</p>
			</div>
		</div>
	</div>
</div>


<% include layouts/footer.ejs %>
