<% include layouts/header.ejs %>

<h1 class="section-title">Error Sending RSVP..</h1>
<div class="span6">
	<div class="row">
		<p>Something is currently not working with the RSVP page.. please mail us your RSVP to:</p>
		<p>1134 Windhaven Cir Apt. F<br/>
		   Brownsburg IN 46112 </p>
	</div>
</div>



<% include layouts/footer.ejs %>
