<% include layouts/header.ejs %>

<h1 class="section-title">Wedding Events</h1>
<div class="span6">
	<div class="row">
		<section class="section-content section-map-background visible-desktop hidden-mobile" id="section-map-background">
			<div class="span6 map map-background">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d97873.98116057385!2d-86.09920470009766!3d39.95118794590714!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8814ac66c195eebf%3A0xf592ae39d4576423!2sRitz+Charles!5e0!3m2!1sen!2sus!4v1418601458319" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
			</div>
		</section>
		<div class="span6 visible-mobile hidden-desktop">
			<div class="map-mobile">
				<a href="http://www.google.com/maps/place/Ritz+Charles/@39.9657162,-86.1604009,17z/data=!4m2!3m1!1s0x8814ac66c195eebf:0xf592ae39d4576423" target="_blank"><img src="images/mobile-map.png" alt="Map" width="100%" height="100%" frameborder="0" /></a>
			</div>
		</div>
	</div>
</div>
<div class="span3">
	<div class="row">
		<div class="box box-shadow box-shadow-max">
			<h3 class="box-title">Details
			</h3>
			<div class="box-content">
				<p>
					<a>Ritz Charles<br/>
					12156 N Meridian St<br/>
					Carmel, IN 46032<br/></a>
					<br/>
					<b>Ceremony</b>
					<br>
					5:30pm EST
					<br>
					<br>
					<b>Reception Following Cocktail Hour</b>
					<br>
					6:00pm EST
					<br/>
					<br/>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="span3">
	<div class="row event-block-space">
		<div class="box box-shadow box-shadow-max">
			<h3 class="box-title">Registries
			</h3>
			<div class="box-content">
				<ul class="thumbnails">
	                <li>
	                    <a class="thumbnail-registry" href="img/gallery/07.jpg">
	                        <img alt="" height="50" width="50" src="images/crate-barrel.jpg"><span> Crate & Barrel</span>
	                    </a>
	                </li>
	                <li>
	                    <a class="thumbnail-registry" href="img/gallery/07.jpg">
	                        <img alt="" height="50" width="50" src="images/bbb.jpg"> Bed Bath &  Beyond
	                    </a>
	                </li>
	                <li>
	                    <a class="thumbnail-registry" href="img/gallery/07.jpg">
	                        <img alt="" height="50" width="50" src="images/kohls.jpg"> Kohl's
	                    </a>
	                </li>
	            </ul>
			</div>
		</div>
	</div>
</div>


<% include layouts/footer.ejs %>
