<% include layouts/header.ejs %>

<h1 class="section-title">Photo Gallery</h1>
<div class="row">
	<div class="span9 offset2">
		<ul class="pgwSlider">
			<li><img class="landscape" src="images/gallery/15.jpg" alt=""></li>
			<li><img src="images/gallery/31.jpg" alt=""></li>
			<li><img class="landscape" src="images/gallery/47.jpg" alt=""></li>
			<li><img src="images/gallery/37.jpg" alt=""></li>
			<li><img src="images/gallery/4.jpg" alt=""></li>
			<li><img src="images/gallery/9.jpg" alt=""></li>
			<li><img src="images/gallery/43.jpg" alt=""></li>
			<li><img src="images/gallery/57.jpg" alt=""></li>
			<li><img src="images/gallery/61.jpg" alt=""></li>
			<li><img src="images/gallery/74.jpg" alt=""></li>
			<li><img src="images/gallery/36.jpg" alt=""></li>
			<li><img src="images/gallery/65.jpg" alt=""></li>
			<li><img src="images/gallery/79.jpg" alt=""></li>
			<li><img class="landscape" src="images/gallery/88.jpg" alt=""></li>
		</ul>
	</div>
</div>


<% include layouts/gallery-footer.ejs %>
