<% include layouts/header.ejs %>

<h1 class="section-title">Photo Gallery</h1>
<div class="row">
	<div class="span9 offset2">
		<ul class="pgwSlider">
			<li><img src="images/gallery/A.jpg" alt=""></li>
			<li><img src="images/gallery/B.jpg" alt=""></li>
			<li><img src="images/gallery/C.jpg" alt=""></li>
			<li><img src="images/gallery/D.jpg" alt=""></li>
			<li><img src="images/gallery/D1.jpg" alt=""></li>
			<li><img src="images/gallery/E.jpg" alt=""></li>
			<li><img src="images/gallery/G.jpg" alt=""></li>
			<li><img src="images/gallery/I.jpg" alt=""></li>
			<li><img src="images/gallery/J.jpg" alt=""></li>
			<li><img src="images/gallery/L.jpg" alt=""></li>
		</ul>
	</div>
</div>


<% include layouts/gallery-footer.ejs %>
