<% include layouts/header.ejs %>

<div class="welcome-message welcome-message-top span8 offset2">
	<p>Brett & Casey</p>
</div>
<div class="welcome-message welcome-message-bottom span8 offset2">
	<p>10.17.15</p>
</div>
<ul id="cbp-bislideshow" class="cbp-bislideshow">
	<li><img src="images/temp-background.png" alt=""/></li>
	<li><img src="images/temp-background2.png" alt=""/></li>
	<li><img src="images/temp-background3.png" alt=""/></li>
</ul>
<div id="cbp-bicontrols" class="cbp-bicontrols hidden-phone">
	<span class="cbp-biprev"></span>
	<span class="cbp-bipause"></span>
	<span class="cbp-binext"></span>
</div>

<% include layouts/footer.ejs %>

