<% include layouts/header.ejs %>

<div class="welcome-message welcome-message-top span8 offset2">
	<p>Brett & Casey</p>
</div>
<div class="welcome-message welcome-message-bottom span8 offset2">
	<p>10.17.15</p>
</div>
<!-- <ul id="cbp-bislideshow" class="cbp-bislideshow">
	<li><img src="images/temp-background.png" alt=""/></li>
</ul> -->
<% include layouts/footer.ejs %>

