<% include layouts/header.ejs %>

<div class="welcome-message welcome-message-top span8 offset2">
	<p>Casey & Brett</p>
	<p class="phone-drop-bottom">10.17.15</p>
</div>


<% include layouts/footer.ejs %>

