<% include layouts/header.ejs %>

<h1 class="section-title">RSVP</h1>
<div class="row">
<div class="span8">Feel free to RSVP by mail or fill out this form! If you enter and email address we will respond to make sure we received your submission. Thanks!</div>
</div>
<section class="section-content section-contact">
	<div class="row">
		<div class="span4">
			<h5>Mail </h5>
			<address>
				795 Folsom Ave, Suite 600
				<br>
				San Francisco, CA 94107
			</address>
			<p>
				<i class="icon-envelope"></i>
				<a href="mailto:info@company.com">info@company.com</a>
				<br>
				<i class="icon-phone"></i>
				<a href="tel:123-456-7890">(123) 456-7890</a>
			</p>
		</div>
		<div class="span4">
			<h5>Mail us</h5>
			<form action="/sendRsvp" method="post" class="form-vertical" id="mail-form">
				<div class="control-group">
					<label for="guestList"></label>
					<input class="span3" name="guestList" placeholder="Jane & John Doe" type="text">
				</div>
				<div class="control-group">
					<label for="email"></label>
					<input class="span3" name="email" placeholder="email" type="email">
				</div>
				<label for="message"></label>
				<textarea class="span4" id="message" name="message" placeholder="message" rows="5"></textarea>
				<label class="checkbox">
					<input type="checkbox">
					Sign up for newsletter
				</label>
				<button class="btn btn-primary" type="submit" id="submitRSVP">Send message</button>
			</form>
		</div>
	</div>
</section>
<style type="text/javascript">

$("#submitRSVP").click(function(){
	$.ajax({
	  type: "POST",
	  url: 'api/sendRsvp',
	  data: [],
	  success: success
	});
});
</style>

<% include layouts/footer.ejs %>
