<% include layouts/header.ejs %>

<h1 class="section-title">RSVP</h1>

<!-- .................................... $Contact .................................... -->
<section class="section-content section-contact">
	<div class="row">
		<div class="span4">
			<h5>Twitter, Inc.</h5>
			<address>
				795 Folsom Ave, Suite 600
				<br>
				San Francisco, CA 94107
			</address>
			<p>
				<i class="icon-envelope"></i>
				<a href="mailto:info@company.com">info@company.com</a>
				<br>
				<i class="icon-phone"></i>
				<a href="tel:123-456-7890">(123) 456-7890</a>
			</p>
		</div>
		<div class="span4">
			<h5>Mail us</h5>
			<form class="form-vertical" id="mail-form">
				<div class="control-group">
					<label for="mail-name-surname"></label>
					<input class="span3" id="mail-name-surname" placeholder="name surname" type="text">
					<span class="help-inline">Insert name and surname</span>
				</div>
				<div class="control-group">
					<label for="mail-email"></label>
					<input class="span3" id="mail-email" placeholder="email" type="email">
					<span class="help-inline">Insert valid email</span>
				</div>
				<label for="mail-message"></label>
				<textarea class="span4" id="mail-message" name="message" placeholder="message" rows="5"></textarea>
				<label class="checkbox">
					<input type="checkbox">
					Sign up for newsletter
				</label>
				<button class="btn btn-primary" type="submit" id="submitRSVP">Send message</button>
			</form>
		</div>
	</div>
</section>
<style type="text/javascript">

$("#submitRSVP").click(function(){
	$.ajax({
	  type: "POST",
	  url: 'api/sendRsvp',
	  data: [],
	  success: success
	});
});
</style>

<% include layouts/footer.ejs %>
