<% include layouts/header.ejs %>

<h1 class="section-title">RSVP</h1>
<div class="row">
<div class="span8">Feel free to RSVP by mail or fill out this form! If you enter an email address we will respond to let you know we received your submission. Thanks!</div>
</div>
<section class="section-content section-contact">
	<div class="row">
		<div class="span4">
			<h5>Mail </h5>
			<address>
				1134 Windhaven Circle Apt F
				<br>
				Brownsburg IN 46112
			</address>
			<p><b>Have any Questions?</b>
				<i class="icon-envelope"></i>
				<a href="mailto:linnwedding15@gmail.com">linnwedding15@gmail.com</a>
				<br>
			</p>
		</div>
		<div class="span4">
			<h5>Submit Online</h5>
			<form action="/sendRsvp" method="post" class="form-vertical" id="mail-form">
				<div id="contol-group">
					<select id="response-selector" name="attendingStatus">
						<option value="Yes">Yes, we will be attending</option>
						<option value="No">We are unable to attend</option>
					</select>
				</div>
				<div class="control-group">
					<label for="guestList"></label>
					<input required class="span3" name="guestList" placeholder="Jane & John Doe" type="text">
				</div>
				<div class="control-group form-guestnum-container">
					<label for="guestNum">Number of Adults Attending</label>
					<input class="span3" name="guestNum" placeholder="0" type="number" min="0">
				</div>
				<div class="control-group form-email-container">
					<label for="email"></label>
					<input class="span3" name="email" placeholder="Email" type="email">
				</div>
				<label for="message"></label>
				<textarea class="span4" id="message" name="message" placeholder="Send us a message if you want!" rows="5"></textarea>
				<button class="btn btn-primary" type="submit" id="submitRSVP">Send RSVP</button>
			</form>
		</div>
	</div>
</section>


<% include layouts/rsvp-footer.ejs %>
