<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>About Us</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>About Us</h2>
		<em>Quick Bio's</em>
		<p>
			Born to Cara and the late Michael Nesius on October 5, 1991, Casey grew up in rural Rensselaer, Indiana with her older brother Justin. Casey graduated from Rensselaer Central High School in 2010 and began classes that Fall at DePauw University as a computer science major. During her summers while a DePauw student, Casey worked as an intern at RICS Software, where she eventually accepted a full time position after receiving her Bachelor’s Degree.
		</p>
		<p>
			Brett was born on December 25th, 1990 and grew up with his parents, Sherri and Gary Linn, and older brother Bryan in Crawfordsville, Indiana. Brett graduated from Crawfordsville High School in 2009 and moved south to major in Computer Science at DePauw University. Upon graduating, Brett began working as a Software Engineer at Allegient and has just completed his second year with the company.
		</p>
	</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>