<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Halloween</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>DePauw University - Halloween</h2>
		<em>How We Met</em>
		<p>
			**We’ll start this out with a special thanks to our parents: they had met in Crawfordsville the summer of 2010 before school began and realized they both had children attending DePauw and agreed to tell us about each other. We took their suggestion into consideration but only as far as to add each other on Facebook ;)
		</p>
		<p>
			Halloween weekend is one the biggest weekends at DePauw. Brett, a sophomore, dressed as a “nerd” and left with some friends to go to Phi Kappa Psi. Casey, a freshman, dressed as an FBI Agent and left her dorm room with some friends to attend the same Halloween party. They saw each other for the first time in a hallway, and immediately recognized each other. They introduced themselves and stood talking for quite a while. Soon, the time came for Brett to leave with his buddies, but not before making sure to ask for Casey’s phone number. He left and Casey rejoined her girlfriends. However, Brett soon came back and when he found Casey he told her that he had come back because he wanted to dance with her. So they danced, and at the end of the night Brett walked her back to her dorm hall like a gentleman and said goodnight. And the rest, as they say, is history.
		</p>
	</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>