<% include layouts/header.ejs %>

<h1 class="section-title">Our Story</h1>
<div class="span10">
	<div class="row">
		<main class="cd-main">

			<ul class="cd-gallery">
				<li class="cd-item">
					<a href="story/1">
						<div>
							<h2>About Us</h2>
							<p>Quick Bio's</p>
							<b>View More</b>
						</div>
					</a>
				</li>

				<li class="cd-item">
					<a class="dark-text" href="story/2">
						<div>
							<h2>DePauw University - Halloween</h2>
							<p>How We Met</p>
							<b>View More</b>
						</div>
					</a>
				</li>

				<li class="cd-item">
					<a href="story/3">
						<div>
							<h2>San Francisco, California</h2>
							<p>Proposal</p>
							<b>View More</b>
						</div>
					</a>
				</li>

				<li class="cd-item">
					<a class="dark-text" href="story/4">
						<div>
							<h2>October 17, 2015</h2>
							<p>Meet the Bridal Party</p>
							<b>View More</b>
						</div>
					</a>
				</li>
			</ul> <!-- .cd-gallery -->
		</main> <!-- .cd-main -->

		<div class="cd-folding-panel">
			
			<div class="fold-left"></div> <!-- this is the left fold -->
			
			<div class="fold-right"></div> <!-- this is the right fold -->
			
			<div class="cd-fold-content">
				<!-- content will be loaded using javascript -->
			</div>

			<a class="cd-close" href="#0"></a>
		</div> <!-- .cd-folding-panel -->
	</div>
</div>

<% include layouts/story-footer.ejs %>
