<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource 
	style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	<script type="text/javascript" src=></script>
	<title>October 17, 2015</title>
</head>
<body class="span9">
	<div class="cd-fold-content single-page">
		<h2>October 15, 2015</h2>
		<em>Meet the Bridal Party</em>
		<div class="row">
			<span class="span4">
				<ul>
					<li>Maid of honor</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</span>
			<span class="span4">
				<ul>
					<li>Best Man</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</span>
		</div>

 
	</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>