<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource 
	style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	<script type="text/javascript" src=></script>
	<title>October 17, 2015</title>
</head>
<body class="span12">
	<div class="cd-fold-content single-page">
		<h2>October 17, 2015</h2>
		<em>Meet the Bridal Party</em>
		<div class="bride-side">
			<h3>Bride</h3>
			<div class="row">
				<div class="span2"><img src="/images/bios/Stephanie.jpg"/></div><div class="span3"> Stephanie Wethington <br/><span class="title">Maid of honor</span></div>
			</div>
			<div class="row">
				<div class="span2"><img src="/images/bios/Maggie.jpg"/></div><div class="span3"> Maggie Nesius<br/><span class="title">Bridesmaid</span></div>
			</div>
			<div class="row">
				<div class="span2"><img src="/images/bios/Thespia.jpg"/></div><div class="span3"> Thespia Payne <br/><span class="title">Bridesmaid</span></div>
			</div>
			<div class="row">
				<div class="span2"><img src="/images/bios/Emeline2.jpg"/></div><div class="span3"> Emeline Hansen <br/><span class="title">Bridesmaid</span></div>
			</div>
			<div class="row">
				<div class="span2"><img src="/images/bios/Amamda.jpg"/></div><div class="span3"> Amanda Faulkenberg <br/><span class="title">Bridesmaid</span></div>
			</div>
		</div>
		<div class="groom-side">
			<h3>Groom</h3>
			<div class="row">
				<div class="span2"><img src="/images/bios/Bryan.jpg"/></div><div class="span3"> Bryan Linn <br/><span class="title">Best Man</span></div>
			</div>
			<div class="row">
				<div class="span2"><img src="/images/bios/Brad.jpg"/></div><div class="span3"> Brad Wethington <br/><span class="title">Groomsman</span></div>
			</div>
			<div class="row">
				<div class="span2"><img src="/images/bios/Klajdi.jpg"/></div><div class="span3"> Klajdi Osmani <br/><span class="title">Groomsman</span></div>
			</div>
			<div class="row">
				<div class="span2"><img src="/images/bios/Mark.jpg"/></div><div class="span3"> Mark Menard <br/><span class="title">Groomsman</span></div>
			</div>
			<div class="row">
				<div class="span2"><img src="/images/bios/Sam.jpg"/></div><div class="span3"> Sam Yeary <br/><span class="title">Groomsman</span></div>
			</div>
		</div>
		

 
	</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>