<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>San Francisco, California</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>San Francisco, California</h2>
		<em>Proposal</em>
		<p>
			Brett and Casey decided to take a short trip in the fall of 2014 to someplace they had never been before, and settled on San Francisco as the destination. They had been together for about four years now. Casey had suspicions about a proposal during the trip, but had convinced herself otherwise as Brett was as calm as ever and didn’t appear to be protecting his bags as if hiding a ring somewhere. They enjoyed five beautiful days on the wharf exploring San Francisco. Little did Casey know, Brett had been planning a proposal. After visiting the beautiful Ghirardelli chocolate factory one night next to the beach, he decided it would be the perfect setting to ask Casey to marry him. Brett had actually attempted to get Casey there on their second to last night, but she adamantly didn’t want to walk there and just wanted to go back to the hotel and get some rest. Sorry Brett.
		</p>
		<p>
			Luckily, on their last night Casey was up for anything and agreed to go after dinner on the Wharf. They sat on the beach and watched as the sun set over the Golden Gate Bridge, then walked up to the factory for some coffee. Brett suggested they sit on a bench between the beach and the beautifully lit factory. They talked about how they had met exactly four years ago and how wonderful those four years had been.  Then Brett surprised Casey as he pulled out a ring, got down on one knee and asked her to marry him. She said yes of course :)
		</p>
	</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>