<% include layouts/header.ejs %>

<h1 class="section-title">Thank you</h1>
<div class="span6">
	<div class="row">
		<h2>Thank you for the RSVP!</h2>
		<p>If you provided an email address we will follow up to let you know that received your submission.</p>
		<br/>
		<br/>
		<a href="/gallery">Check out our photo gallery</a>
	</div>
</div>


<% include layouts/footer.ejs %>
