@import url(https://fonts.googleapis.com/css?family=Great+Vibes);


/******** Shared ********/
.backstretch {
	opacity: .85;
}

.social-hashtag {
  	color: #fff;
}

h1.section-title {
	margin-top: 2%;
	text-shadow: 2px 2px 2px white;
}


/******** Home ********/
.welcome-message {
	top:0px;
	right: 0px;
	position: absolute;
	margin-top: 2%;
	text-shadow: 2px 2px 2px white;
}



/******** Events ********/
.event-block-space {
	padding-left:1px;
}

a.thumbnail-registry:hover {
	border:1px solid #450000;
}

.map-mobile {
	border:2px solid #450000;
	margin-bottom: 3%;
	max-width: 400px;
}





@media (max-width: 767px) {
	.linn-wedding {
		font: 400 28px 'Great Vibes', Helvetica, sans-serif !important;
  		color: #fff;
  		text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	}

	.welcome-message {
		top:0px;
		right: 0px;
		position: relative;
		margin-top: 0%;
		text-shadow: 2px 2px 2px white;
	}

	.welcome-message p{
		text-align: center;
		font: 400 70px 'Great Vibes', Helvetica, sans-serif !important;
		width: 100%;
	}

	.welcome-message p.phone-drop-bottom {
		position:fixed;
		text-align: center;
		bottom:0px;

	}
}

@media (min-width: 768px) and (max-width: 978px){
	.linn-wedding {
		font: 400 40px 'Great Vibes', Helvetica, sans-serif !important;
  		color: #fff;
  		text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	}

	.welcome-message p {
		font: 400 80px 'Great Vibes', Helvetica, sans-serif !important;
		width: 100%;
		text-align: center;
	}
}

@media (min-width: 979px) {
	.linn-wedding {
		font: 400 50px 'Great Vibes', Helvetica, sans-serif !important;
  		color: #fff;
  		text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	}

	.welcome-message p {
		font: 400 100px 'Great Vibes', Helvetica, sans-serif !important;
		width: 100%;
		text-align: center;
	}
}


/************* Mobile Overrides ***************/
@media only screen and (max-device-width: 480px) {
	.linn-wedding {
		font: 400 25px 'Great Vibes', Helvetica, sans-serif !important;
  		color: #fff;
  		text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	}
	
	.welcome-message p{
		position:relative;
		font: 400 50px 'Great Vibes', Helvetica, sans-serif !important;
	}

	.welcome-message p.phone-drop-bottom {
		position:fixed;
		bottom:0px;

	}
}

/*@media (max-width: 882px) {
	.linn-wedding {
		font: 400 40px 'Great Vibes', Helvetica, sans-serif;
  		color: #fff;
  		text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	}
}*/

/*@media (min-width: 883px) {
	.linn-wedding {
	  font: 400 50px 'Great Vibes', Helvetica, sans-serif;
	  color: #fff;
	  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	}
}*/



